{% extends 'base.html.twig' %}

{% block title %}Modifier l'équipement{% endblock %}

{% block body %}
    <h1>Modifier l'équipement</h1>

    {{ include('equipment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_equipment_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}