{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel équipement{% endblock %}

{% block body %}
    <h1>Créer un nouvel équipement</h1>

    {{ include('equipment/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_equipment_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}